.vs
Library
Logs
obj
Temp
UserSettings
.vsconfig
*.csproj
*.sln
/VRCWorld_Zentsuji/Assets/OtherResources/font

/VRCWorld_Zentsuji/Assets/UnityAssetsResource/ModelAssets/_DLNK

/VRCWorld_Zentsuji/Assets/UnityAssetsResource/ModelAssets/Argyle

/VRCWorld_Zentsuji/Assets/UnityAssetsResource/ModelAssets/LeartesStudios

/VRCWorld_Zentsuji/Assets/UnityAssetsResource/ModelAssets/Anime Tokyo
