.vs
Library
Logs
obj
Temp
UserSettings
.vsconfig
*.csproj
*.sln
/VRCWorld_Zentsuji/Assets/OtherResources/font

/VRCWorld_Zentsuji/Assets/UnityAssetsResource/ModelAssets/_DLNK

/VRCWorld_Zentsuji/Assets/UnityAssetsResource/ModelAssets/Argyle
/VRCWorld_Zentsuji/Assets/UnityAssetsResource/ModelAssets/Anime Tokyo
/VRCWorld_Zentsuji/Assets/UnityAssetsResource/ModelAssets/FUNSET
/VRCWorld_Zentsuji/Assets/UnityAssetsResource/ModelAssets/Japan_Village_ArtE
/VRCWorld_Zentsuji/Assets/UnityAssetsResource/ModelAssets/Japanese_Street
/VRCWorld_Zentsuji/Assets/UnityAssetsResource/ModelAssets/LeartesStudios
/VRCWorld_Zentsuji/Assets/UnityAssetsResource/ModelAssets/Polyart
/VRCWorld_Zentsuji/Assets/UnityAssetsResource/ModelAssets/Tokyo_Street
/VRCWorld_Zentsuji/Assets/UnityAssetsResource/ModelAssets/HIGHLANDS - Stylized Environment
/VRCWorld_Zentsuji/Assets/UnityAssetsResource/CharactorModel/ANIMALS FULL PACK
/VRCWorld_Zentsuji/Assets/UnityAssetsResource/CharactorModel/ANIMALS FULL PACK
/VRCWorld_Zentsuji/Assets/UnityAssetsResource/ModelAssets/JapaneseGarden
/VRCWorld_Zentsuji/Assets/UnityAssetsResource/ModelAssets/PureNature
/VRCWorld_Zentsuji/Assets/UnityAssetsResource/ModelAssets/PureNature
/VRCWorld_Zentsuji/Assets/UnityAssetsResource/SoundAssets
/VRCWorld_Zentsuji/Assets/UnityAssetsResource/ModelAssets/Train Controller_v3

