.vs
Library
Logs
obj
Temp
UserSettings
.vsconfig
*.csproj
*.sln
/VRCWorld_Zentsuji/Assets/OtherResources/font

/VRCWorld_Zentsuji/Assets/UnityAssetsResource/ModelAssets
/VRCWorld_Zentsuji/Assets/UnityAssetsResource/SoundAssets
/VRCWorld_Zentsuji/Assets/UnityAssetsResource/UI
/VRCWorld_Zentsuji/Assets/UnityAssetsResource/Animation
/VRCWorld_Zentsuji/Assets/UnityAssetsResource/CharactorModel
/VRCWorld_Zentsuji/Assets/UnityAssetsResource/CharactorModel
/VRCWorld_Zentsuji/Assets/UnityAssetsResource/CharactorModel
/VRCWorld_Zentsuji/Assets/UnityAssetsResource/Effect
